{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{#    <script src="{% static "js/custom.js" %}"></script>#}
{#    <script src="{% static "js/mmturkey.js" %}"></script>#}

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

</head>
<body>


<div class="well">
    This is the HIT's preview. Please accept it to see details.

</form>

</div>

</body>
</html>




