{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <script src="{% static "js/mmturkey.js" %}"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>


    <script>
        var submit_answer = function(ans){
            var ans_obj = {assignmentId: turk.assignmentId,
                        content: ans };
            $.post("{% url 'mturk.views.on_submit_answer' %}", ans_obj, function(){
            }).done( function(resp){
                turk.submit({content:ans});
            }).fail(function(resp){
                console.log('submit failed', resp);
            });
        };
        $(document).ready(function(){
            $('#yes_btn').click(function(){
                submit_answer("true");
            });
            $('#no_btn').click(function(){
                submit_answer("false");
            });
        });

    </script>

</head>
<body>


<div class="well">

{#<form id="q_form" action="{{ turkSubmitTo }}" method="POST">#}
    <p> {{ question.debug }} </p>

    <p> {{ question.text }} </p>

    <span id="yes_btn" class="btn btn-success">Yes</span>

    <span id="no_btn" class="btn btn-danger">No</span>

{#    <input name="content" type="hidden"/>#}
{#    <input name="assignmentId" type="hidden"/>#}
{#    <input name="hitId" type="hidden"/>#}
{#    <input name="workerId" type="hidden"/>#}
{#</form>#}

</div>

</body>
</html>




